{% extends 'layout.html' %} 
{% load static %} {% load crispy_forms_tags %}
{% block content %}
	

	




		<!-- Page Title
		============================================= -->
		<section id="page-title" class="page-title-dark page-title-center p-0">

			<div class="fslider" data-arrows="false" data-pagi="false" data-animation="fade" data-hover="false">
				<div class="flexslider">

					<div class="slider-wrap">
						{% for page in pages %}
							{% for image in page.galery_set.all %}
						<div class="slide"><img src="{{image.image.url}}" alt="Page Title Image"></div>
							{% endfor %}
							{% endfor %}
					</div>

					<!-- <div class="vertical-middle vertical-middle-overlay">
						<div class="container clearfix">
							<h1>About Us</h1>
							<span>A Short Page Title Tagline</span>
							<ol class="breadcrumb justify-content-center">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">About-us</li>
							</ol>
						</div>
					</div> -->

				</div>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<div class="row col-mb-50 mb-0">
						{% for extra in extras %}
						{% if extra.ekstra_tipi.title == 'icon' %}
						{% for extracontent in extra.ekstracontent_set.all %}

						<div class="col-sm-6 col-lg-4">
							<div class="feature-box fbox-plain">
								<div class="fbox-icon" data-animate="bounceIn">
									<a href="#"><i class="{{extracontent.icon.title}}"></i></a>
								</div>
								<div class="fbox-content">
									<h3>{{extracontent.title}}</h3>
									<p>{{extracontent.short_content}}</p>
								</div>
							</div>
						</div>
						
						{% endfor %}
						{% endif %}
						{% endfor %}

					</div>

				</div>

				{% include 'include/kart.html'%}

				<div class="section mt-0" style="background: #FFF url('demos/medical/images/about-us/1.jpg') right center no-repeat / cover;">

					<div class="d-block d-md-block d-lg-none" style="background-color: rgba(238,238,238,0.9); position: absolute; top: 0;left: 0; z-index: 1;width: 100%; height: 100%;"></div>

					<div class="container clearfix">

						<div class="row justify-content-between">
							<div class="col-lg-6" data-lightbox="gallery">
								{{header.content|safe}}
							</div>
							<div class="col-lg-5">
								<div class="opening-table">
									<div class="heading-block bottommargin-sm border-bottom-0">
										<h4>Çalışma Saatlerimiz</h4>
										<span>Çalışma saatlerimize aşağıda listelenmiştir.</span>
									</div>
									<div class="time-table-wrap clearfix">
										
										{% for extra in extras %}
										{% if extra.ekstra_tipi.title == 'hours' %}
										{% for extracontent in extra.ekstracontent_set.all %}
											
										<div class="row time-table">
											<h5 class="col-lg-5">{{extracontent.title}}</h5>
											<span class="col-lg-7">{{extracontent.short_content}}</span>
										</div>
										{% endfor %}
										{% endif %}
										{% endfor %}
				

										
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

				<div class="container clearfix">
					<div class="heading-block center border-bottom-0">
						<h3>Meet our Team of Specialists<span>.</span></h3>
						<span>We make sure that your Life are in Good Hands.</span>
					</div>

					<div id="oc-team" class="owl-carousel team-carousel carousel-widget" data-margin="30" data-nav="true" data-pagi="true" data-items-xs="1" data-items-sm="2" data-items-lg="3" data-items-xl="4">

						<div class="team">
							<div class="team-image">
								<img src="demos/medical/images/doctors/1.jpg" alt="Dr. John Doe">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4>Dr. John Doe</h4><span>Cardiologist</span></div>
							</div>
						</div>

						<div class="team">
							<div class="team-image">
								<img src="demos/medical/images/doctors/2.jpg" alt="Dr. John Doe">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4>Dr. Bryan Mcguire</h4><span>Orthopedist</span></div>
							</div>
						</div>

						<div class="team">
							<div class="team-image">
								<img src="demos/medical/images/doctors/3.jpg" alt="Dr. John Doe">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4>Dr. Mary Jane</h4><span>Neurologist</span></div>
							</div>
						</div>

						<div class="team">
							<div class="team-image">
								<img src="demos/medical/images/doctors/4.jpg" alt="Dr. John Doe">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4>Dr. Silvia Bush</h4><span>Dentist</span></div>
							</div>
						</div>

						<div class="team">
							<div class="team-image">
								<img src="demos/medical/images/doctors/6.jpg" alt="Dr. John Doe">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4>Dr. Hugh Baldwin</h4><span>Cardiologist</span></div>
							</div>
						</div>

						<div class="team">
							<div class="team-image">
								<img src="demos/medical/images/doctors/7.jpg" alt="Dr. John Doe">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4>Dr. Erika Todd</h4><span>Neurologist</span></div>
							</div>
						</div>

						<div class="team">
							<div class="team-image">
								<img src="demos/medical/images/doctors/8.jpg" alt="Dr. John Doe">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4>Dr. Randy Adams</h4><span>Dentist</span></div>
							</div>
						</div>

						<div class="team">
							<div class="team-image">
								<img src="demos/medical/images/doctors/9.jpg" alt="Dr. John Doe">
							</div>
							<div class="team-desc">
								<div class="team-title"><h4>Dr. Alan Freeman</h4><span>Eye Specialist</span></div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</section><!-- #content end -->



	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>


{% endblock content %}