{% load static %}		
<!-- <div id="wrapper" class="clearfix">	 -->
		<!-- Top Bar
		============================================= -->
		<div id="top-bar" class="py-4 text-center bg-color-2">
			<div class="container clearfix">
				<h4 class="mb-0 h6 font-normal">COVID-19? We're in this together &amp; will get through this, Together. <a href="#" class="color font-weight-bold border-bottom border-width-2 border-color font-secondary ml-2">Learn more</a><i class="icon-chevron-right icon-stacked text-smaller color"></i></h4>
			</div>
		</div><!-- #top-bar end -->

		<!-- Header
		============================================= -->
		<header id="header" class="">
			<div id="header-wrap">
				<div class="container">
					<div class="header-row">

						<!-- Logo
						============================================= -->
						<div id="logo">
							<a href="index.html" class="standard-logo"><img src="demos/covid-care/images/logo.png" alt="Canvas Logo"></a>
							<a href="index.html" class="retina-logo"><img src="demos/covid-care/images/logo@2x.png" alt="Canvas Logo"></a>
						</div><!-- #logo end -->

						<!-- Primary Menu Mobile Trigger
						============================================= -->
						<div id="primary-menu-trigger">
							<svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
						</div>

						<!-- Header Buttons
						============================================= -->
						<!-- <div class="header-misc">
							<a href="#" class="button rounded-pill bg-color-2 button-light text-dark ls0 font-weight-medium m-0">Register</a>
							<a href="#" class="button rounded-pill ls0 font-weight-medium my-0 ml-2 d-none d-sm-flex">Download App</a>
						</div> -->

						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu">

							<ul class="menu-container">
								{% for header in headers %}
				  
								<li
								  class="menu-item {% if forloop.counter == 1 %}current{% endif%}"
								>
								  <a
									class="menu-link"
									href="{% if forloop.counter == 1 %}{% url 'pages:home' %}{% else %}{% url 'pages:header-detail' header.slug %}{% endif%}"
									><div>{{header.title}}</div></a
								  >
								  {% if header.is_dropdown %}
								  <ul class="sub-menu-container">
									<li class="menu-item">
									  <a class="menu-link" href="demo-medical-doctors-lists.html"
										><div>2 columns - List style</div></a
									  >
									</li>
									<li class="menu-item">
									  <a class="menu-link" href="demo-medical-doctors-3.html"
										><div>3 columns</div></a
									  >
									</li>
									<li class="menu-item">
									  <a class="menu-link" href="demo-medical-doctors.html"
										><div>4 columns</div></a
									  >
									</li>
								  </ul>
								  {% endif %}
								</li>
								{% endfor %}
							  </ul>

						</nav><!-- #primary-menu end -->

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->

