{% extends 'layout.html' %} 
{% load static %} {% load crispy_forms_tags %}
{% block content %}





		<!-- Slider / Hero
		============================================= -->
		<div id="slider" class="slider-element dark py-0" style="background-size: cover; background-image: url('{{setting.contact_page_image.url}}'); background-position: center center; background-repeat: no-repeat;">

			<div class="container">
				<div class="row text-center py-5 min-vh-md-75 justify-content-center align-items-center">
					<div class="col-lg-6">
						<!-- <h5 class="mb-1 text-uppercase ls3 text-white-50 font-body">Get in Touch</h5> -->
						<h2 class="display-3 font-weight-bolder ls3 font-display mb-5">Bize Ulaşın</h2>
						<!-- <a href="#" class="button button-large rounded-pill bg-color-2 button-light text-dark ls0 font-weight-medium m-0">Sign Up Now</a> -->
					</div>
				</div>
			</div>
		</div>
		<!-- {% include 'include/messages.html' %} -->
		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">

				<div class="container clearfix">

					<div class="row justify-content-around">
						<div class="col-lg-5">
							<h3 class="display-3 color font-weight-normal font-display mb-5">BİZE ULAŞIN</h3>

							<p class="mb-5">{{setting.contactmessage}}</p>

							<div class="clear"></div>

							<div class="feature-box fbox-sm mb-3">
								<div class="fbox-icon">
									<i class="bg-color-50 color icon-call"></i>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger font-weight-normal mb-2 color">
										<strong class="mb-2 h6 d-block text-dark">Adress:</strong>
										{{setting.adress}}
									</h3>
								</div>
							</div>
							<div class="feature-box fbox-sm mb-3">
								<div class="fbox-icon">
									<i class="bg-color-50 color icon-call"></i>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger font-weight-normal mb-2"><a href="{{setting.phone}}">{{setting.phone}}</a></h3>
								</div>
							</div>
							<div class="feature-box fbox-sm mb-3">
								<div class="fbox-icon">
									<i class="bg-color-50 color icon-call"></i>
								</div>

								
								<div class="fbox-content">
									<h3 class="nott text-larger font-weight-normal mb-2"><a href="{{setting.phone2}}">{{setting.phone2}}</a></h3>
								</div>
							</div>
							<div class="feature-box fbox-sm mb-3">
								<div class="fbox-icon">
									<i class="bg-color-50 color icon-whatsapp"></i>
								</div>

								
								<div class="fbox-content">
									<h3 class="nott text-larger font-weight-normal mb-2"><a href="https://api.whatsapp.com/send?phone={{setting.whatsapp_phone}}">{{setting.phone2}}</a></h3>
								</div>
							</div>
							<div class="feature-box fbox-sm mb-5">
								<div class="fbox-icon">
									<i class="bg-color-50 color icon-email3"></i>
								</div>
								<div class="fbox-content">
									<h3 class="nott text-larger font-weight-normal mb-2"><a href="mailto:{{setting.email}}">{{setting.email}}</a></h3>
								</div>
							</div>

						</div>

						<div class="col-lg-5">
							<div class="form-widget">

								<div class="form-result"></div>

								<form class="mb-0" name="template-contactform"  method="post">
									<div class="col-12 form-group mb-4">

									{% csrf_token %}
  									  {{form |crispy}}
									</div>
									<!-- <div class="form-process">
										<div class="css3-spinner">
											<div class="css3-spinner-scaler"></div>
										</div>
									</div> -->
<!-- 
									<div class="row">
										<div class="col-12 form-group mb-4">
											<label class="nott ls0" for="template-contactform-name">İsminiz <small>*</small></label>
											<input type="text" id="template-contactform-name" name="template-contactform-name" value="" class="rounded-pill form-control required" />
										</div>

										<div class="col-12 form-group mb-4">
											<label class="nott ls0" for="template-contactform-email">Email Adresiniz<small>*</small></label>
											<input type="email" id="template-contactform-email" name="template-contactform-email" value="" class="required email rounded-pill form-control" />
										</div>

										<div class="col-12 form-group mb-4">
											<label class="nott ls0" for="template-contactform-message">Mesajınız <small>*</small></label>
											<textarea class="required rounded-xxl form-control" id="template-contactform-message" name="template-contactform-message" rows="6" cols="30"></textarea>
										</div>

										<div class="col-12 form-group mb-4 d-none">
											<input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="rounded-pill form-control" />
										</div>

										<div class="col-12 form-group mb-4">
											<button class="button button-large rounded-pill bg-color px-4 py-2 h-op-09 op-ts m-0" type="submit" name="template-contactform-submit" value="submit">Gönder</button>
										</div>
									</div> -->

									<!-- <input type="hidden" name="prefix" value="template-contactform-"> -->
									<!-- <input type="submit" name="prefix" value="Gönder"> -->
									<div class="col-12 form-group mb-4">
										<button class="button button-large rounded-pill bg-color px-4 py-2 h-op-09 op-ts m-0" type="submit" name="template-contactform-submit" value="submit">Gönder</button>
									</div>

								</form>
							</div>
						</div>
					</div>

					<!-- <div class="card bg-color-2 border-0 mt-5" style="background: url(demos/covid-care/images/illustration/bg-pattern.svg) no-repeat center left / auto 300%;">
						<div class="card-body p-5">
							<div class="row justify-content-between col-mb-30">
								<div class="col-md-4">
									<h3 class="mb-1 color">Customer Support</h3>
									<a href="#" class="text-dark"><u>https://support.canvas.com</u></a>
								</div>

								<div class="col-md-4">
									<h3 class="mb-1 color">Email ile iletşim:</h3>
									<a href="mailto:{{setting.email}}" class="text-dark"><u>{{setting.email}}</u></a>
								</div>

								<div class="col-md-4">
									<h3 class="mb-1 color">Live chat with Us</h3>
									<a href="#" class="text-dark"><u>Click here</u><i class="icon-line-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div> -->
					<div id="google-map5" style="height: 400px; margin-bottom: 20px;" class="gmap" >
    <iframe class = "w-100" height = "400" id="gmap_canvas"  src="{{setting.googleMap}}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
					</div>

				</div>

			</div>
		</section><!-- #content end -->



	<!-- Go To Top
	============================================= -->
	<!-- <div id="gotoTop" class="icon-angle-up"></div> -->


	{% endblock content %}